.horizontal-bar-chart-x-axis line,
.horizontal-bar-chart-y-axis line {
  stroke: white;
}

.horizontal-bar-chart-x-axis path,
.horizontal-bar-chart-y-axis path {
  stroke: white;
}
.horizontal-bar-chart-x-axis text,
.horizontal-bar-chart-y-axis text {
  fill: white;
}

div.horizontal-bar-tooltip {
  position: absolute;
  text-align: center;
  padding: 0.7rem;
  background: #313639;
  color: #f9f9f9;
  border: 0px;
  border-radius: 8px;
  pointer-events: none;
  font-size: 0.7rem;
  white-space: pre-wrap;
  font-size: 1em;
}
